downloads/
reports/
training_data/
segments/
spectrograms/
vit-base-manuai/
vit-manuai-optimized/
model_numeric/
model-checkpoints/
unknown_recordings/
output/
vit-base-manuai/
art/
.vscode/
__pycache__/
vit-base-manuai-peft/
10-vit-base-manuai/
safetensors_to_art.py
power_bill.py
show_weights.py
safetensors_to_nums.py
finetune.py
finetune.ipynb
weights_poster.png
all_weights.png
fantail.jpg
manuai_mask.png
manuai_weights.png
manuai_weights_silhouette.png
manuai_weights_bird_silhouette.png
manuai_weights_fade_flat.jpg
conf_matrix.png
brainstorm.md
all_weights.txt
notes.txt
.env
.gitignore
.DS_Store
bfg-1.15.0.jar
10-vit-base-manuai.zip