downloads/
reports/
training_data/
segments/
spectrograms/
vit-base-manuai/
manuai_lora_adapters/
manuai_checkpoints/ 
art/
.vscode/
__pycache__/
show_weights.py
safetensors_to_nums.py
notes.txt
.env
.DS_Store
manuai-lora-10.zip
inference_outputs/